@font-face {
    font-family: CoinbaseDisplay;
    src: url('/dist/fonts/CoinbaseDisplay-Medium.woff2');
}

@font-face {
    font-family: CoinbaseSans;
    src: url('/dist/fonts/CoinbaseSans-Medium.woff2');
}

@font-face {
    font-family: CoinbaseSans;
    src: url('/dist/fonts/CoinbaseSans-Regular.woff2');
}

@font-face {
    font-family: CoinbaseIcons;
    src: url('/dist/fonts/CoinbaseIcons-1658954688267.woff2');
}

