$main-background: rgb(0 0 0 / 0%);
$white: rgb(255 255 255);
$primary-color: rgb(0, 82, 255);
$primary-color-hover: rgb(0, 75, 235);
$primary-gray: rgb(10, 13, 11);
$secondary-gray: rgb(10, 11, 13);
$gray60: rgb(91, 97, 110);
$green-positive: rgb(9, 133, 81);
$black: rgb(5, 15, 25);
$line-divide: rgb(91, 97, 110, 0.66);
$red-negative: rgb(207,32,47);
$tablet: 768px;
$mobile: 560px;
$large-tablet: 1170px;
$signup-arrow-none: 1281px;
$signup-flex-column: 1040px;
$header: 1049px;